<div class="container">
  <div class="my-watches">

    <div class="nav nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
      <a class="nav-link" id="my-watches-tab" data-toggle="pill" href="#my-watches" role="tab" aria-controls="my-watches" aria-selected="false">Mes Montres</a>
      <a class="nav-link" id="my-bookings-tab" data-toggle="pill" href="#my-bookings" role="tab" aria-controls="my-bookings" aria-selected="false">Mes Rendez-vous</a>
      <a class="nav-link" id="settings-tab" data-toggle="pill" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Paramètres</a>
    </div>

    <div class="tab-content p-10" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <h1>Mon Dashboard</h1>
        <p class="">Welcome to your dashboard !</p>
      </div>

      <div class="tab-pane fade" id="my-watches" role="tabpanel" aria-labelledby="my-watches-tab">
        <%= render 'cards-watch-dashboard' %>
      </div>
      <div class="tab-pane fade" id="my-bookings" role="tabpanel" aria-labelledby="my-bookings-tab">
        <%= render 'bookings-form-dashboard' %>
      </div>

      <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <h1>Paramètres</h1>
        <p class="">Welcome to your settings !</p>
      </div>
    </div>

  </div>
</div>
