#pages-mentions {

  .jumbotron-mentions {
    background-color: $color-light-blue;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    text-align: center;
  }

  p {
    text-align: justify;
  }

}

