#pages-home {

  h2 {
    color:#84D2E6;
    font-weight: bold;
  }

  .jumbotron {
    margin-bottom:200px;
  }

  .container {
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .arguments {
    justify-content: center;
    margin: 20vh 15vw;
    box-shadow: 5px 4px 20px #1B1F23;
    border-radius: 10px;
  }

  .arg-home {
    background-color: $color-purple;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
    border: none;
  }

  .check {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }

}
