#watches-new {

  .card.covered {
    border: 1px solid #cdd4d8;
  }

  .card {
    background-color: #fff;
    margin-bottom: 10px;
  }

  .card-header {
    padding: 17px;
  }

  .full-width {
    width: 100%;
  }

  img {
    vertical-align: middle;
  }

  img {
    border: 0;
  }

}
