<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/nlabrazi/vendezvotremontre"></a>

    <%= link_to 'Github', "https://github.com/nlabrazi/vendezvotremontre" %>
    <%= link_to 'Mentions Légales', root_path %>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by VendezVotreMontre
  </div>
</div>
