<div class="container container-faq">
  <div class="row align-items-start">
    <div class="col-12">
			<h1>Comment ça marche</h1>
		</div>
	</div>
</div>


<div class="container container-fluid container-content">
	<div class="row">
		<div class="col-10">
			<h3>Vendez Votre Montre</h3>
			<p>Vendez Votre Montre ? C'est un concept qui part d'une idée simple : vendez votre montre simplement et rapidement.</p>
		</div>
			<div class="col-2">
				<%= image_tag "https://res.cloudinary.com/borismd/image/upload/v1607101153/Assets/retro_illustration_xyrpcp.png", class: "img-faq" %>
		</div>		
	</div>
	
	<div class="row">
		<div class="col-2">
			<%= image_tag "https://res.cloudinary.com/borismd/image/upload/v1607101143/Assets/7acc43b8d0e1cf34f1aba8fa46ee3fd1_adyoop.jpg", class: "img-faq" %>
		</div>
		<div class="col-10">
			<h3>Comment ça marche</h3>
			<p>Lorem ipsum dolor aute enim ex officia dolore officia in mollit <%= link_to "LIEN TO DO", root_path %></p> Eiusmod exercitation minim in commodo.</p>
		</div>
	</div>
</div>

<div class="container container-fluid container-content">
	<div class="row">
		<p>Ut ut mollit sint anim amet culpa officia ut exercitation reprehenderit in do non in ullamco amet labore enim fugiat commodo dolor est officia dolor nostrud aliquip in consectetur dolore culpa nulla eu enim ut enim.</p>
		</div>
	<div class="row-img">
			<%= image_tag "https://res.cloudinary.com/borismd/image/upload/v1607588559/Assets/ccm_ncgloh.png", class: "img-faq2" %>
	</div>
	<div class="row">
		<div class="col-12">
			<p>Lorem ipsum qui adipisicing deserunt in ut quis aliqua labore proident aliqua ut consectetur occaecat.</p>
		</div>
	</div>
</div>


<div class="container container-fluid container-content">
	<div class="row">
		<div class="col-12">
			<h3>"Lorem ipsum deserunt do ut ex"</h3>
			<p>Nisi est ut ut incididunt irure nulla ea incididunt aliquip sed sint cillum do adipisicing amet dolor do sit labore officia amet veniam officia elit in fugiat sint velit.</p>
			<p>Ut aliqua exercitation quis duis et aliqua exercitation cillum eiusmod eiusmod quis irure dolor qui deserunt anim quis ex et irure commodo voluptate aute in.</p>
			<p>Fugiat dolore laborum dolore sed in veniam mollit sint ure nulla ea incididun.</p>
		</div>
	</div>
</div>
