<div class="container">
  <div class="header-estimate">
   <div class="info-container">
    <%= render 'formfor' %>
  </div>
</div>
<div class="title-review">
  <h1>Planifier la vente :</h1>
</div>
  <br>
  <br>
</div>
