video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  /*-ms-transform: translateY(-40%);
  -moz-transform: translateY(-40%);
  -webkit-transofrm: translateY(-40%);
  transform: translateY(-40%);*/
}

.JumbotronHome {
  min-height: 400px;
  min-width: 100%;
  overflow: hidden;
  position: relative;

  h1,
  h3 {
    color: $color-light-blue;
  }
  .cta:hover {
    color: #e57c00;
  }
}

.jumbotron-home-text {
  position: relative;
}
