.JumbotronDisplay {
  background-size: cover;
  min-height: 400px;
  min-width: 100%;
  margin: 0;

  h1,
  h3 {
    color: #03CEA4;
  }
  .cta:hover {
    color: #e57c00;
  }
}

/*
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -ms-transform: translateY(-40%);
  -moz-transform: translateY(-40%);
  -webkit-transofrm: translateY(-40%);
  transform: translateY(-40%);
}
*/
